.main__container{

}
.result{
&__container{
  display: flex;
  text-align: center;
  width: 100%;
  height: 4em;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
&__txt{

}
}
